<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Team Members</a>
            </h1>
            <nav class="navbar">
                <a href="../addteammember" class="btn-no-style">Add Team Member</a>
                <a href="../search" class="btn-no-style">Search Your Team</a> 
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">logout</button>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for using our app!
        </footer>
    </div>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>

